@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
<ul>
	<li>@Html.ActionLink("MyControl", "Index", "MyControl")</li>
    <li>@Html.ActionLink("MyWebUserControl", "Index", "MyWebUserControl")</li>
</ul>
